@import "reset.css";

:root {
    --darkGrey: #343f3c;
    --sapphire: #276466;
    --tan: #D9B08C;
    --peach: #F7CB9B;
    --platinum: #D2E9E2;
}

html, body {
    height: 100%;
    overflow: hidden;
    color: #FEFEFE;
}

.main {
    height: 100%;
    width: auto;
    background-color: var(--darkGrey);
    font-family: Verdana, 'sans-serif';
}

.calc-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-body {
    height: 70vh;
    width: 53vh;
    background-color: var(--sapphire);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-window {
    height: 20%;
    width: 92%;
    background-color: var(--platinum);
    border-radius: 20px;
    margin: 20px 0;
    justify-self: center;
    border: 3px solid #626262;
}

.button-container {
    height: 90%;
    width: 90%;
    display: grid;
    margin-bottom: 10px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px 10px;
}

.calc-button {
    background: var(--tan);
    border-radius: 50%;
    box-shadow: 0 0 5px black;
}






















