@import "reset.css";

:root {
    --darkGrey: #515654;
    --sapphire: #276466;
    --tan: #D9B08C;
    --peach: #F7CB9B;
    --platinum: #D2E9E2;
}

html, body {
    height: 100%;
    overflow: hidden;
    color: #FEFEFE;
}

.main {
    height: 100%;
    width: auto;
    background-color: var(--darkGrey);
    font-family: Verdana, 'sans-serif';
}

.calc-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-body {
    height: auto;
    width: 95vw;
    max-width: 450px;
    background-color: var(--sapphire);
    border-radius: 15px;
    border: 3px solid var(--tan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-window {
    height: 20%;
    width: 92%;
    background-color: var(--platinum);
    border-radius: 20px;
    margin: 20px 0;
    display: flex;
    justify-self: center;
    border: 4px solid #626262;
    box-shadow: inset 0 0 3px 2px #626262;
}

#result-display {
    height: 90%;
    width: 100%;
    margin-right: 15px;
    font-family: Consolas, 'sans-serif';
    font-size: 2.5em;
    text-align: end;
    line-height: 200%;
    color: black;
}

.button-container {
    height: 90%;
    width: 90%;
    display: grid;
    margin-bottom: 15px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px 10px;
}

.calc-button {
    height: 95%;
    width: 95%;
    background: var(--tan);
    border-radius: 50%;
    box-shadow:  0 0 5px black;
    text-align: center;
    align-items: center;
    font-size: 2.3em;
}

.operator {
   color: black;
}

#equals {
    color: black;
}

.shadowed {
    box-shadow: inset 0 0 3px 2px #4b4b4b;
}

#zero {
    grid-column: span 2;
    border-radius: 50px;
    margin: 5px;
}

.btn-text {
    line-height: 210%;
    font-weight: lighter;
}

.num-btn {
    background: #2D3432FF;
}

.spec-color {
    background: #5f6463;
}











